// Pastel Pink
$color-pastel-pink-050: #FBF7FF;
$color-pastel-pink-100: #FFE3EE;
$color-pastel-pink-200: #FFD5E5;
$color-pastel-pink-250: #FFC6D9;
$color-pastel-pink-300: #FFB7CC;

// Lilac
$color-lilac-500: #DF7CB6;
$color-lilac-800: #4A2F44;
$color-lilac-700: #864672;

// Lavender
$color-lavender-300: #D9CFFC;

// Peaches
$color-peach-100: #FFF5F0;
$color-peach-200: #FFE9DA;
$color-peach-300: #FFD6BA;

// Blend: Peach & Pink
$color-pink-peach-blend-150: #FFE0E0;

// Cyan
$color-pastel-cyan-400: #CBDFE3;
$color-cyan-300: #D0F0F7;
$color-cyan-100: #E8F9FF;